header {
    background-color: $pale-cyan;
    background-image: url("/images/bg-hero-mobile.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -5rem;
    background-size: 100% auto;
    height: 100vh;
    min-height: 71rem;
}