.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    .main-card {
        background-color: white;
        height: 50rem;
        box-shadow: 0 0.4rem 1rem -0.5rem gray;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 1.5rem;
        .main-image-container {
            .main-card-img {
                height: auto;
                width: 25rem;
            }
        }
        .main-text-container {
            text-align: center;
            .main-card-desc {
                font-size: 1.4rem;
                margin: 2rem 5rem auto;
                color: $text-gray;
                line-height: 2rem;
            }
        }
    }
}