.topheader-container {
    display: flex;
    height: 10%;
    .topheader-logo {
        flex: 1;
        display: inline-flex;
        align-content: center;
        margin: auto auto auto 1.5rem;
        .topheader-logo-img {
            height: 2rem;
            width: auto;
        }
    }
    .topheader-try-container {
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        a {
            background-color: white;
            width: 10rem;
            height: 2.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto 1.5rem auto auto;
            font-size: 1.2rem;
            border-radius: 2rem;
            font-weight: 700;
            color: black;
            box-shadow: 0 0.4rem 1rem -.5rem gray;
            transition: .5s background-color;
            &:hover {
                background-color: lightgray;
            }
        }
    }
}