@media all and (max-width: 320px){
    header {
        .landing-container {
            margin: 1rem;
            .landing-catchphrase {
                p {
                    margin: 1.5rem auto;
                }
            }
            .landing-image-container {
                margin: 3rem auto;
                .landing-image {
                    width: 28rem;
                }
            }
        }
    }
}