* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  width: 2rem;
  height: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
}

a, p, span {
  font-family: "Open Sans", sans-serif;
}

@media all and (max-width: 320px) {
  header .landing-container {
    margin: 1rem;
  }
  header .landing-container .landing-catchphrase p {
    margin: 1.5rem auto;
  }
  header .landing-container .landing-image-container {
    margin: 3rem auto;
  }
  header .landing-container .landing-image-container .landing-image {
    width: 28rem;
  }
  footer {
    min-height: 100rem;
  }
}

.main-card-header {
  font-size: 2rem;
  margin: 4rem auto auto;
}

.topheader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
}

.topheader-container .topheader-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto auto auto 1.5rem;
}

.topheader-container .topheader-logo .topheader-logo-img {
  height: 2rem;
  width: auto;
}

.topheader-container .topheader-try-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topheader-container .topheader-try-container a {
  background-color: white;
  width: 10rem;
  height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 1.5rem auto auto;
  font-size: 1.2rem;
  border-radius: 2rem;
  font-weight: 700;
  color: black;
  -webkit-box-shadow: 0 0.4rem 1rem -.5rem gray;
          box-shadow: 0 0.4rem 1rem -.5rem gray;
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
}

.topheader-container .topheader-try-container a:hover {
  background-color: lightgray;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem 3.5rem auto;
}

.landing-container .landing-catchphrase {
  text-align: center;
}

.landing-container .landing-catchphrase h1 {
  font-size: 2.7rem;
  font-weight: 600;
}

.landing-container .landing-catchphrase p {
  font-size: 1.6rem;
  margin: 3rem auto;
}

.landing-container .landing-catchphrase .landing-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing-catchphrase .landing-button-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: white;
  background-color: #ff52bf;
  width: 25rem;
  height: 4rem;
  border-radius: 2rem;
  font-weight: 600;
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
}

.landing-container .landing-catchphrase .landing-button-container a:hover {
  background-color: lightpink;
}

.landing-image-container {
  margin: 5rem 0;
}

.landing-image-container .landing-image {
  height: auto;
  width: 33rem;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.main-container .main-card {
  background-color: white;
  height: 50rem;
  -webkit-box-shadow: 0 0.4rem 1rem -0.5rem gray;
          box-shadow: 0 0.4rem 1rem -0.5rem gray;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.5rem;
}

.main-container .main-card .main-image-container .main-card-img {
  height: auto;
  width: 25rem;
}

.main-container .main-card .main-text-container {
  text-align: center;
}

.main-container .main-card .main-text-container .main-card-desc {
  font-size: 1.4rem;
  margin: 2rem 5rem auto;
  color: #848B91FF;
  line-height: 2rem;
}

.footer-start-container {
  background-color: white;
  position: relative;
  height: 17rem;
  margin: auto 2rem;
  bottom: 10rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 1rem -.5rem black;
          box-shadow: 0 0 1rem -.5rem black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-start-container .main-card-header {
  margin: 2rem 1rem;
  text-align: center;
  font-size: 1.8rem;
}

.footer-start-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: white;
  background-color: #ff52bf;
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  font-weight: 600;
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
}

.footer-start-container a:hover {
  background-color: lightpink;
}

.footer-container {
  color: white;
  margin: -3rem 2rem auto;
}

.footer-container .footer-logo {
  display: inline-block;
}

.footer-container .footer-logo svg {
  margin: auto auto 2rem;
}

.footer-container .footer-logo svg path {
  fill: white;
}

.footer-container .footer-details-container {
  font-size: 1.5rem;
  margin: auto auto 5rem;
}

.footer-container .footer-details-container .footer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
}

.footer-container .footer-details-container .footer-details .footer-details-img-container .footer-details-img {
  width: 2rem;
  height: auto;
}

.footer-container .footer-details-container .footer-details .footer-text {
  margin: auto 2rem;
}

.footer-container .footer-buttons-container {
  font-size: 1.7rem;
}

.footer-container .footer-buttons-container a {
  color: white;
}

.footer-container .footer-buttons-container ul {
  list-style-type: none;
}

.footer-container .footer-buttons-container ul li {
  margin: 2rem auto;
}

.footer-container .footer-socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container .footer-socials-container .fab {
  padding: .7rem;
  width: 3.5rem;
  text-align: center;
  border: .2rem solid white;
  border-radius: 10rem;
  color: white;
  font-size: 1.7rem;
  margin: auto .5rem;
  background-color: none;
  -webkit-transition: .5s color, .5s background-color;
  transition: .5s color, .5s background-color;
}

.footer-container .footer-socials-container .fab:hover {
  color: #00252e;
  background-color: white;
}

.footer-container .footer-socials-container ul {
  list-style-type: none;
}

.footer-container .footer-socials-container ul li {
  display: inline;
}

.footer-container .footer-copyright-msg {
  margin: 2rem auto;
  text-align: center;
}

.footer-container .footer-copyright-msg .copyright-msg {
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
}

header {
  background-color: #ebfbff;
  background-image: url("/images/bg-hero-mobile.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -5rem;
  background-size: 100% auto;
  height: 100vh;
  min-height: 71rem;
}

footer {
  background-color: #00252e;
  min-height: 90rem;
  height: 110vh;
  margin: 25rem auto auto;
}
/*# sourceMappingURL=main.css.map */